body{
    background-image:  linear-gradient(to left bottom, rgba(10, 191, 170, 0.655), rgba(215, 215, 240, 0.666)), url(../images/nigeria-population-census.webp);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-position: top;
    height: 100vh;
}